/**************************/
/*Normalizaciones y resets*/
/**************************/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  scroll-behavior: smooth;
}

body {
  color: #fff;
  background: #151634;
  font-family: Arial, Helvetica, sans-serif;
  height: auto;
  width: 100vw;
  margin: 0;
  padding: 0rem;
}

