.container{
  min-height: 85vh;
  max-height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color:#333;
  padding: 10vh 15vw;
  text-align: justify;
}