.container{
  min-height: 85vh;
  max-height: max-content;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
  background-color: #333;
}

.verBobinados{
  grid-column: 1 / 2; /* Ocupa todas las columnas */
  grid-row: 1 / 2; /* Ocupa la primera fila */
  width: 100%;
}

.h2{
  text-align: center;
  padding: 0.5rem 0rem;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: underline;
}