.crearBobinado{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0rem;
}

.crearBobinado button {
  padding: 0.5rem;
  background-color: darkgreen;
  color: #eee;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
}

.crearBobinado button:hover {
  background-color: rgb(1, 61, 1);
  transition: background-color 0.3s;  
}