.divFormulario{
  min-height: 85vh;
  max-height: max-content;
}

.formulario {
  display: flex;
  flex-direction: column; /* Coloca los elementos en una columna */
  margin: 0; /* Espaciado superior e inferior */
  padding: 1rem; /* Espaciado interno */
  background-color: #fff; /* Color de fondo blanco para el formulario */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
  color: #000;
}

.formulario label {
  margin-bottom: 5px; /* Espaciado inferior en las etiquetas */
}

.formulario input {
  margin-bottom: 15px; /* Espaciado inferior en los inputs */
  padding: 10px; /* Espaciado interno en los inputs */
  border: 1px solid #ccc; /* Bordes grises */
  border-radius: 4px; /* Bordes redondeados en los inputs */
}

.formulario button {
  padding: 10px; /* Espaciado interno en el bot칩n */
  background-color: #0070f3; /* Color de fondo del bot칩n */
  border: none; /* Sin bordes */
  border-radius: 4px; /* Bordes redondeados en el bot칩n */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
  color: #000;
}

.formulario button:hover {
  background-color: #005bb5; /* Color de fondo m치s oscuro al pasar el mouse */
}

.h1, .h2{
  color: #fff;
}