.body{
  display: grid;
  width: 100dvw;
  height: 100dvh;
  grid-template-rows: repeat(24, 1fr); /* Barra superior, contenido principal, footer */
  grid-template-columns: repeat(24, 1fr); /* Divisiones en columnas iguales */
  background-color:#333;
}

.barraSuperior{
  grid-column: 1 / -1; /* Ocupa todas las columnas */
  grid-row: 1 / 2; /* Ocupa la primera fila */
  width: 100%;
  height: 15vh;
  position: fixed;
  top:0;
  display: grid;
  grid-template-columns: max-content max-content auto max-content; /* Logo, título, inicio sesión */
  grid-template-rows: 1fr; /* Una fila */
}

.logo{
  grid-row: 1 / 2;
  grid-column: 1 / 2; /* Primera columna */
  background-color:#333;
}

.logoImage{
  width: 3rem; /* Ajusta el ancho */
  height: 3rem; /* Ajusta la altura */
  object-fit: contain; /* Contiene la imagen dentro del tamaño especificado */
  margin-left: 1rem;
}

.titulo{
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  background-color:#333;
  color: #eee;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0rem 2rem;
  text-align: center;
  display: flex; /* Opcional: para centrar texto dentro del hijo */
  justify-content: center;
  align-items: center;
}

.inicioSecion{
  grid-row: 1 / 2;
  grid-column: 4 / 5;
  background-color: green;
  background-color:#333;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.userImage{
  width: 4rem; /* Ajusta el ancho */
  height: 4rem; /* Ajusta la altura */
  object-fit: contain; /* Contiene la imagen dentro del tamaño especificado */
  margin-right: 1rem;
}

.navegacion{
  grid-column: 3 / 4; /* Primera columna */
  grid-row: 1 / 2; /* Segunda fila */
  background-color: yellow;
  background-color:#333;
}

.pages{
  grid-column: 1 / -1; /* Desde la segunda columna hasta el final */
  grid-row: 2 / 3; /* Segunda fila */
  min-height: 75vh;
  max-height: max-content;
  width: 100vw;
  background-color: orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer{
  grid-column: 1 / -1; /* Ocupa todas las columnas */
  grid-row: 3 / 4; /* Última fila */
  background-color: purple;
  margin-left: 20vw;
  background-color:#333; 
  text-align: center;
  vertical-align: middle;
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer a{
    font-weight: bold;
}

.footer a:hover{
  font-size: 0.9rem;
  padding: 0rem 0.3rem;
  transition: padding 0.3s, font-size 0.3s; /* transition-300 */
}

.navigationBar{
  background-color:#333; 
  color: #eee;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content:center;
  font-size: 0.8rem;
  padding: 0rem 0.5rem;
}

.linkInicioSecion{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.btn {
  width: auto;
  color: #eee; /* text-white */
  font-weight: 600; /* font-semibold */
  border-left: #eee solid 1px;

  /*box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(255, 255, 255, 0.06); /* shadow-md */
  transition: background-color 0.3s; /* transition-colors duration-300 */
  padding: 0.5rem 0rem;
}

.btn2 {
  padding: 0.5rem;
  width: auto;
  background-color: #eee; /* text-white */
  color: #333; 
  font-weight: 600; /* font-semibold */
  margin-right: 0.5rem ;
  border-radius: 5px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(255, 255, 255, 0.06); /* shadow-md */
  transition: background-color 0.3s; /* transition-colors duration-300 */
}

.lastBtn{
  border-right: rgba(255, 255, 255, 0.5) solid 1px;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.8); 
  color: #333; 
}

.btn2:hover {
  color: rgba(255, 255, 255, 1); 
  background-color: #999; 
}

.flexCentered{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}