@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(./css/a_variables.css);
@import url(./css/b_resets.css);
/*@import url(./css/c_navigation_bar.css);*/
/*@import url(./css/d_layout.css);*/
/*@import url(./css/e-formulario.css);*/



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
