@tailwind base;
@tailwind components;
@tailwind utilities;

/*@import url(./css/a_variables.css);*/
/*@import url(./css/b_resets.css);*/
/*@import url(./css/c_navigation_bar.css);*/
/*@import url(./css/d_layout.css);*/
/*@import url(./css/e-formulario.css);*/

:root {
    /* ───────── BLUE ───────── */
  --blue-50:  #e8f1ff;
  --blue-100: #d5e4ff;
  --blue-200: #b3ccff;
  --blue-300: #85a8ff;
  --blue-400: #5676ff;
  --blue-500: #2f45ff;
  --blue-600: #0c0eff;
  --blue-700: #0000ff;
  --blue-800: #0609cd;
  --blue-900: #10169f;
  --blue-950: #0a0b5c;

  /* ───────── WHITE / GRAY ───────── */
  --white-50:  #ffffff;
  --white-100: #efefef;
  --white-200: #dcdcdc;
  --white-300: #bdbdbd;
  --white-400: #989898;
  --white-500: #7c7c7c;
  --white-600: #656565;
  --white-700: #525252;
  --white-800: #464646;
  --white-900: #3d3d3d;
  --white-950: #292929;

  /* ───────── RED ───────── */
  --red-50:  #fff0f0;
  --red-100: #ffdddd;
  --red-200: #ffc0c0;
  --red-300: #ff9494;
  --red-400: #ff5757;
  --red-500: #ff2323;
  --red-600: #ff0000;
  --red-700: #d70000;
  --red-800: #b10303;
  --red-900: #920a0a;
  --red-950: #500000;
  }


/**************************/
/*Normalizaciones y resets*/
/**************************/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  scroll-behavior: smooth;
}

body {
  color: var(--white-50);
  background: var(--blue-950);
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  margin: 0;
  padding: 0rem;
  height: 100%;
  margin: 0;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
