.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  max-height: max-content;
  padding: 10vh 15vw;
  text-align: justify;
  background-color:#333;
  color: #fff;
}

.listaObjetivos{
  list-style:disc;
  padding: 1rem 3rem;
}

.listaObjetivos li{
  padding: 0.3rem 1rem;
}

.h2{
  padding: 3rem 0rem;
  font-size: 2rem;
  font-weight: 400;
}

.primerParrafo span{
  font-weight: bold;
}